<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Gabble</a>
        <a href="/newGab">Create New Gab</a>
        {{#user}}
        <a href="#">Logged in as {{username}}</a>
        {{/user}}
        <a href="/logout">Sign-Out</a>
      </nav>
    </header>
    <div class="container">
      <h1>Hello!</h1>
      {{#posts}}
      <div class="gabDiv">
        <h2>{{title}}</h2>
        <p>{{body}}</p>
        <div class="likesDiv">
          <h5>Liked by:</h5>
          {{#likes}}
          {{post.likes}}
          {{/likes}}

        </div>
        <a href="/likeGab/{{id}}">Like this gab!</a>
        <a href="/deleteGab/{{id}}">Delete this gab!</a>
      </div>
      {{/posts}}

    </div>

  </body>
</html>
