<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <header>
    <nav>
      <a href="/">Gabble</a>
      <a href="/newGab">Create New Gab</a>
      <a href="#">Logged in as placehoder</a>
      <a href="/logout">Sign-Out</a>
    </nav>
  </header>
  <div class="container">
        <form class="" action="/newGab" method="post">
          <div class="">
            <label for="">Create New Gab Title Below!</label>
            <input type="text" name="title" value="">
            <label for="">Create New Gab Below!</label>
            <textarea name="body" rows="15" cols="36"></textarea>

          </div>
          <button type="submit" name="button">Submit gab!</button>

        </form>

    </div>

  </body>
</html>
