<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Gabble</a>
        <a href="/newGab">Create New Gab</a>
        <a href="#">Logged in as placehoder</a>
        <a href="/logout">Sign-Out</a>
      </nav>
    </header>
    <div class="container">
      <h1>Please Register Below!</h1>
      <form class="" action="/register" method="post">
        <div class="">
          <label for="username">Username:</label>
          <input type="text" name="username" value="">
        </div>
        <div class="">
          <label for="password">Password</label>
          <input type="password" name="password" value="">
        </div>
        <div class="">
          <label for="displayname">Display Name</label>
          <input type="text" name="displayname" value="">
        </div>
        <button type="submit" name="button">Sign-Up!</button>

      </form>

    </div>

  </body>
</html>
