header {
  background: #5d8bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  color: white;
  text-decoration: none;
  margin: 0 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul.listing {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
ul.listing img {
  width: 50px;
  border-radius: 50%;
  margin: 1rem;
}
ul.listing li {
  display: flex;
  flex-basis: 25%;
  align-items: center;
}

article {
  width: 1000px;
  margin: 0 auto;
}

.error {
  background: red;
  color: white;
}
